<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Marka ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Marka ara">
</div>

<ul class="list-group">
  <li (click)="clearCurrentBrand()" [class]="getAllBrandClass()" routerLink="/cars">Tüm Markalar</li>
  <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.id}}" [class]="getCurrentBrandClass(brand)"
    *ngFor="let brand of brands | brandFilter:filterText">{{brand.name}}</li>
    <i class="bi bi-pen"></i>
</ul>
