<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>


<table *ngIf="dataLoaded==true" class="table table-primary table striped">
  <thead>
    <tr>
      <th>Model</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük fiyat</th>
    </tr>
  </thead>

  <tr (click)="setCurrentCar(car)" routerLink="/carDetail/{{car.id}}" *ngFor="let car of cars">
    <td>{{car.carName}}</td>
    <td>{{car.brandName}}</td>
    <td>{{car.colorName}}</td>
    <td>{{car.modelYear}}</td>
    <td>{{car.dailyPrice}}</td>
  </tr>
</table>

