<div class="row">


  <div class="col-sm-4 mb-3">
    <label for="filterText" class="form-label">Araba ara</label>
    <input type="text" [(ngModel)]="carFilter" class="form-control" id="filterText"
      placeholder="Aramak istediğiniz ifadeyi giriniz:">

    <div *ngIf="carFilter" class="alert alert-success">{{carFilter}} aradınız</div>
  </div>
  <div class="col-sm-4">
    <label for="brandFilter" class="form-label">Marka ara</label>
    <select [(ngModel)]="brandFilter" class="form-select" aria-label="Default select example">
      <option value="0" [selected]="">Lütfen bir marka seçiniz</option>
      <option value="getBrands()">Tüm Markalar</option>
      <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
    </select>
  </div>

  <div class="col-sm-4">
    <label for="colorFilter" class="form-label">Renk ara</label>
    <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
      <option value="0" selected [selected]="">Lütfen bir renk seçiniz</option>
      <option value="getColors()">Tüm renkler</option>
      <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>

    </select>
  </div>
  <div class="col">
    <div class="mb-3">
      <button (click)="getCarsByBrandAndColorId(brandFilter,colorFilter)" type="button" class="btn btn-primary"
        style="width: 100%;">Filtrele</button>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 mb-4 ml-1" *ngFor="let car of cars  | carFilter:carFilter">
    <div class="car-body" (click)="setCurrentCar(car)" [routerLink]="'/cars/car/'+ car.carId " class="col-md-4">
      <div class="card" style="width: 18rem">
        <img [src]="getCarImage(car)" img class="img-rounded " alt="default" />

        <div class="card-body">
          <h3 class="card-title text-center">{{ car.carName }}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i><b>Marka</b></i> | {{ car.brandName }}
          </li>
          <li class="list-group-item">
            <i><b>Model Yılı</b></i> | {{ car.modelYear }}
          </li>
          <li class="list-group-item">
            <i><b>Günlük Fiyat</b></i> | {{ car.dailyPrice | currency : "₺ " }}
          </li>
          <li class="list-group-item">
            <i><b>Aylık Fiyat %20 indirimli</b></i>
            {{ car.dailyPrice * 30 * 0.8 | currency : "₺" }}
          </li>
        </ul>
        <button (click)="setCurrentCar(car)" [routerLink]="'/cars/car/'+ car.carId" type="button"
          class="btn btn-primary btn-lg">Detay</button>
      </div>
      <br />
    </div>
  </div>
</div>
