<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Araç Güncelle</h5>
      </div>
      <div *ngIf="car" class="card-body">
        <form [formGroup]="carUpdateForm">
          <div class="mb-3">
            <label for="brand">Marka</label>
            <div class="form-group">
              <input type="text" id="brand" formControlName="brand" class="form-control" [(ngModel)]="brand" />
            </div>
          </div>
          <div class="mb-3">
            <label for="model">Model</label>
            <div class="form-group">
              <input type="text" id="model" formControlName="model" class="form-control" [(ngModel)]="model" />
            </div>
          </div>
          <div class="mb-3">
            <label for="color">Renk</label>
            <div class="form-group">
              <input type="text" id="color" formControlName="color" class="form-control" [(ngModel)]="color" />
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">Yıl</label>
            <div class="form-group">
              <input type="number" id="modelYear" formControlName="modelYear" class="form-control" [(ngModel)]="modelYear" />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-dark" (click)="backToCarList()">Geri dön</button>
        <button class="btn btn-fill btn-success" (click)="update(); backToCarList()"
          style="float: right;">Güncelle</button>
      </div>
    </div>
  </div>
</div>
