<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Araç Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="mb-3">
            <label for="carName">Araç adı</label>
            <div class="form-group">
              <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Araç adı">
            </div>
          </div>
          <div class="mb-3">
            <label for="brandName">Marka</label>
            <div class="form-group">
              <select class="form-select" aria-label="Default select example">
                <option value="0" [selected]="">Lütfen bir marka seçiniz</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="colorName">Renk</label>
            <div class="form-group">
              <select class="form-select" aria-label="Default select example">
                <option value="0" [selected]="">Lütfen bir renk seçiniz</option>
                <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                placeholder="Model Yılı">
            </div>
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük fiyat</label>
            <div class="form-group">
              <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                placeholder="Günlük fiyat">
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
